/* .post-create-div {
    text-align: center;
} */
.post-header {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.post-form {
    font-size: 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #f76c6c;
    border: 1px solid;
    border-radius: 10px 10px ;
    box-shadow: 3px 7px 5px #14161a;
    width: 700px;
    margin: 60px auto 10px auto;
}
.post-form label {
    text-align: center;
    padding: 7px;
    font-weight: bold;
    font-size: 27px;
}
.normal-style {
    border: 1px solid;
    border-radius: 10px 10px;
    box-sizing: border-box;
    border-style: none;
    margin-top: 6px;
    margin-bottom: 16px;
    /* background-color: rgba(36, 48, 94, .2); */
    font-size: 20px;
    width: 100%;
    text-align: center;
}
.normal-style-price {
    border: 1px solid;
    border-radius: 10px 10px;
    box-sizing: border-box;
    border-style: none;
    margin-top: 6px;
    margin-bottom: 16px;
    font-size: 20px;
    width: 20%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.price-is-right {
    display: block;
}
.radio {
    font-size: 20px;
    margin: 10px 0 10px 0;
}
.radio-1 {
    margin: 0 0 0 20px;
}
.radio-2 {
    margin: 0 0 0 20px;
}
.description-box {
    border-radius: 10px 10px;
    width: 100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.post-cancel-create {
    text-align: center;
}
.create-post-submit {
    color: white;
    background-color: #4e4e50;
    padding: 10px;
    border-radius: 5px 5px;
    margin: 10px 10px 10px 10px;
    border: none;
    font-size: 15px;
    font-weight: bold;
}
.create-post-submit:hover {
    background-color: #1a1a1d;
    color: #f76c6c;
    cursor: pointer;
}
.cancel-post {
    color: white;
    background-color: #4e4e50;
    padding: 10px;
    border-radius: 5px 5px;
    margin: 10px 10px 10px 10px;
    border: none;
    font-size: 15px;
    font-weight: bold;
}
.cancel-post:hover {
    background-color: #1a1a1d;
    color: #f76c6c;
    cursor: pointer;
}
.errors {
    list-style: none;
    color: white;
    margin-left: 170px;
}
