.post-content {
    /* padding: 20px; */
    margin: 10px 10px 10px 10px;
    background-color: #f76c6c;
    font-size: 17px;
    width: 200px;
    height: 100px;
    float: left;
    /* flex-basis: 100px; */
}
.post-content a {
    text-decoration: none;
    color: black;
    /* padding: 20px; */
}
.post-content a div {

    padding: 10px;
}
.post-content:hover {
    background-color: white;
    cursor: pointer;
}
