.categories {
    list-style: none;
    text-align: center;
}
.categories li {
    display: inline-block;
}
.categories a {
    text-decoration: none;
    color: #f76c6c;
    font-size: 18px;
}
.categories a:hover {
    color: #f8e9a1;
}
