.profile-layout {
    text-align: center;
    margin: 0 auto 0 auto;
}
.welcome-letter {
    text-align: center;
}
.profile-outer {
    width: 700px;
    margin: 0 auto 0 auto;
    text-align: center;
}
