/* TODO Add site wide styles */
body {
    background-color: #4e4e50;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.recent-listings {
    background-color: #f76c6c;
    position: relative;
    bottom: 24px;
    height: 300px;
    border-top:2px solid black ;
}
.categories {
    background-color: #1a1a1d;
    position: relative;
    bottom: 8px;

}

