/* TODO Add site wide styles */
body {
    background-color: #a8d0e6;
}
.recent-listings {
    background-color: #f76c6c;
    position: relative;
    bottom: 24px;
    height: 300px;
    border-top:2px solid black ;
}
.categories {
    background-color: #374785;
    position: relative;
    bottom: 8px;

}
.all-home-listings {

}
