.header-h2 {
    padding-left: 20px;
}
.all-home-listings {
    width: 1200px;
    margin: 0 auto 0 auto;
    text-align: center;
}
.all-home-posts {
    text-align: center;
    margin: 0 auto 0 auto;
}
.h2-with-the-name {
    text-align: left;
    width: 1200px;
    margin: 0 auto 0 auto;
}
