.nav-background {
    background-color: #374785;
    list-style: none;
    text-align: left;
    padding: 10px 0 20px 0;
    margin-top: 0px;
    margin-bottom: 0px;
}
li {
    padding-right: 12px;
    padding-left: 12px;
}

.home-button {
    /* this is for the "make it real" */
    text-decoration: none;
    color: #f76c6c;
    font-size: 30px;
    padding: 10px 6px 6px 6px;
}
.home-button:hover {
    color: #c95555;
}
/* .sign-up {

    color: black;
    text-decoration: none;
    float: right;
    padding: 9px 15px 9px 15px;
    position: relative;
    right: 70px;
    top: 5px;
    text-align: center;
} */
/* .sign-up:hover {
    border-radius: 24px 24px 24px 24px;
    background-color: #dfe7f5;
    color: #206CC3;

} */

.cart {
    float: right;
    position: relative;
    bottom: 35px;
    left: 15px;
    padding-left: 0px;
    width: 60px;
    height: 33px;
}
.cart img {
    width: 40px;
    height: 35px;
}

.profile {
    float: right;
    position: relative;
    right: 60px;
    top: 3px;
    /* padding: 5px; */
    margin-left: 10px;
    font-size: 30px;
    border: none;
    background: none;
    font-weight: bold;
}
.profile:hover {
    color: #f8e9a1;
    cursor: pointer;
    background-color: rgba(36, 48, 94, .4);
    border-radius: 50%;
}
