.nav-background {
    background-color: #374785;
    list-style: none;
    text-align: left;
    padding: 10px 0 20px 0;
    margin-top: 0px;
    margin-bottom: 0px;
}
li {
    padding-right: 12px;
    padding-left: 12px;
}

.home-button {
    /* this is for the "make it real" */
    text-decoration: none;
    color: #f76c6c;
    font-size: 30px;
    padding: 10px 6px 6px 6px;
}
.home-button:hover {
    color: #c95555;
}

.cart {
    float: right;
    position: relative;
    bottom: 35px;
    right: 5px;
    padding-left: 0px;
    width: 40px;
    height: 35px;
}
.fa-primary {
    color: black;
    width: 40px;
    height: 35px;
}
.fa-primary:hover {
    color: #f8e9a1;
}
/* .cart img {
    width: 40px;
    height: 35px;
} */

.profile {
    float: right;
    position: relative;
    right: 115px;
    top: 3px;
    /* padding: 5px; */
    margin-left: 10px;
    font-size: 30px;
    border: none;
    background: none;
    font-weight: bold;
}
.profile:hover {
    color: #f8e9a1;
    cursor: pointer;
    background-color: rgba(36, 48, 94, .4);
    border-radius: 50%;
}

.logout-button {
    float: right;
    position: relative;
    padding: 5px;
    top: 7px;
    right: 5px;
    border: none;
    background: none;
    font-weight: bold;
}
.logout-button:hover {
    color: #f8e9a1;
    cursor: pointer;
    background-color: rgba(36, 48, 94, .4);
    border-radius: 24px 24px 24px 24px;
}
.create-post {
    float: right;
    position: relative;
    top: 6px;
    right: 47px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 5px;
}
.create-post:hover {
    color: #f8e9a1;
    cursor: pointer;
    background-color: rgba(36, 48, 94, .4);
    border-radius: 24px 24px 24px 24px;
}
