.log-in-sign-up {
    float: right;
    position: relative;
    right: 70px;
    top: 6px;
    padding: 5px;
    margin-left: 10px;
    font-size: 16px;
    border: none;
    background: none;
    font-weight: bold;
}
.log-in-sign-up:hover {
    color: #f8e9a1;
    cursor: pointer;
    background-color: rgba(36, 48, 94, .4);
    border-radius: 24px 24px 24px 24px;
}
